<h2>customer from</h2>

<form [formGroup]="customerForm" (ngSubmit)="save()">
  <div>
    <label for="">first name</label>
    <input type="text" formControlName="firstName"/>
    <span class="text-danger" *ngIf="customerForm.get('firstName').invalid">
      <p *ngIf="customerForm.get('firstName').errors?.['required']"> first name is required</p>
      <p *ngIf="customerForm.get('firstName').errors?.['minlength']"> first name min len is 5</p>
    </span>
  </div>
  <div>
    <label for="">last name</label>
    <input type="text" formControlName="lastName"/>
    <span class="text-danger" *ngIf="customerForm.get('lastName').touched && customerForm.get('lastName').invalid">
      <p *ngIf="customerForm.get('lastName').errors?.['required']"> first name is required</p>
    </span>
  </div>
  <div>
    <label for="">customer Code</label>
    <input type="text" formControlName="customerCode"/>
  </div>
  <div>
    <label for="">email</label>
    <input type="text" formControlName="email"/>
  </div>
  <button type="submit" [disabled]="customerForm.invalid"> save</button>
</form>
