.main-menu{
    display: flex;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
.main-menu ul{
    display: flex;
    list-style: none;
}

.main-menu ul > li{
    padding: 15px;
    cursor: pointer;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-menu ul li:hover{
background-color: aqua;
}
.main-menu a {
    font-size: 18pt;
    font-weight: 700; 
    letter-spacing: 1pt;
}

.active-menu{
    background-color: aqua;
}