/* You can add global styles to this file, and also import other style files */

@import "bootstrap/dist/css/bootstrap.css";

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
